<div class="sidebar">
    <div class="sidebar__inner">
        <ul>
            <li>
                <a href="javascript:void(0)" class="" id="GoToHome" data-link="/home/index">
                    <span class="icon"><i class="fas fa-dice-d6"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" id="GoToInvitation" data-link="/invitedmembers/index">
                    <span class="icon"><i class="fas fa-id-badge"></i></span>
                    <span class="title">Invitation</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-link="Profile">
                    <span class="icon"><i class="far fa-user"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li id="ifBoardSelect" @*class="collapse"*@>
                <a href="javascript:void(0)" id="GoToBoard" data-link="/list">
                    <span class="icon"><i class="fas fa-columns"></i></span>
                    <span class="title">Board</span>
                </a>
            </li>
            <li id="ifBoardSelect" >
                <a href="javascript:void(0)" id="GoToTimeline" data-link="/card">
                    <span class="icon"><i class="far fa-calendar"></i></span>
                    <span class="title">Timeline</span>
                </a>
            </li>
            <li id="ifBoardSelect" >
                <a href="javascript:void(0)" data-link="Chart">
                    <span class="icon"><i class="far fa-chart-bar"></i></span>
                    <span class="title">Chart</span>
                </a>
            </li>
            <li id="ifBoardSelect" >
                <div class="divider"></div>
            </li>
            <li>
                <a href="javascript:void(0)" data-link="/Auth/logout">
                    <span class="icon"><i class="fas fa-solid fa-power-off"></i></i></span>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>