<div class="d-flex justify-content-start">
    <div id="TimelinePageTitle" class="rounded p-2 me-3 my-4">

    </div>
</div>
<section class="timer-section">
    <div class="container">
        <div class="timer-container">
            <ul class="timer">
            </ul>
        </div>
    </div>
</section>
@section Scripts
{
    <script type="module" src="~/js/Kanban/Timeline.js"></script>
}