<section class="timer-section">
    <div class="container">
        <div class="timer-container">
            <ul class="timer">
            </ul>
        </div>
    </div>
</section>
@section Scripts
{
    <script type="module" src="~/js/Kanban/Timeline.js"></script>
}