<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>

</head>
<body>

    <div class="wrapper">

        <partial name="~/Views/Shared/Component/_TopNavbar.cshtml" />
        <div class="main_container">
            <partial name="~/Views/Shared/Component/_SideBar.cshtml" />
            <div class="main_content">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
            <partial name="~/Views/Shared/Component/_Modal.cshtml" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap5-popper/popper.min.js"></script>
            <script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>
            <script src="./js/site.js" type="module"></script>
            @RenderSection("Scripts", required: false)
</body>
</html>

