<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="">Invitation List</h1>
            <table class="table table-striped " id="tInvitation">
                <thead class="table-dark">
                    @*//Id,InvitedDate,Status,Board_Id,User_Id*@
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Board Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Owner Board</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="module" src="~/js/Kanban/Invitation.js"></script>
}